body {
  font-family: "faricy-new-web",sans-serif; }

.row:after, .row:before {
  content: "";
  display: table; }
.row:after {
  clear: both; }

.btn-1, .btn-2, .btn-3 {
  border-radius: 5px;
  margin: 0px 5px 40px;
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  letter-spacing: 0.5px; }

.btn-1 {
  background: #2A5A8A;
  border: 2px solid #2A5A8A; }
  .btn-1:hover {
    background: #254f7a;
    border-color: #254f7a; }

.btn-2 {
  background: #1c9346;
  border: 2px solid #1c9346; }
  .btn-2:hover {
    background: #19853f;
    border-color: #19853f; }

.btn-3 {
  background: #ffaf00;
  border: 2px solid #ffaf00; }
  .btn-3:hover {
    background: #e9a103;
    border-color: #e9a103; }

.text-center {
  text-align: center;
  margin: 0 auto; }

.elipsis {
  text-align: center;
  width: 100%;
  margin: 0 auto; }
  .elipsis i.fa.fa-circle, .elipsis i.fa.fa-circle-o {
    font-size: 8px;
    color: #5c5d5f;
    margin: 3px;
    text-align: center; }
    .elipsis i.fa.fa-circle:hover, .elipsis i.fa.fa-circle-o:hover {
      color: #ffaf00; }

.elipsis.dark {
  background: #323638; }

nav {
  width: 100%;
  position: relative; }
  nav * {
    box-sizing: border-box; }
  @media (min-width: 850px) {
    nav .mobile-nav-wrap {
      display: inline-block; } }
  nav .mobile-header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 98px;
    width: 75%; }
    @media screen and (max-width: 850px) {
      nav .mobile-header-nav {
        /*background-color: #222222;*/
        display: none;
        display: absolute;
        top: 0px;
        width: 100%;
        line-height: 60px;
        border-radius: 5px; } }
    nav .mobile-header-nav li {
      /*border-bottom: 1px solid rgba(255,255,255,0.1);*/ }
      @media screen and (max-width: 850px) {
        nav .mobile-header-nav li {
          display: block; } }
      nav .mobile-header-nav li a {
        color: white;
        display: block;
        /*padding: 15px 0;*/
        text-align: right;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
        @media screen and (max-width: 850px) {
          nav .mobile-header-nav li a {
            text-align: center; } }
        nav .mobile-header-nav li a:hover {
          color: #72AA2D;
          color: #e40303;
          color: #999;
          color: #ffaf00;
          /*background-color: lighten(#222222, 5%);*/ }
  nav .hamburger-menu {
    display: none;
    height: 100px;
    padding: 35px 25px;
    margin: 15px 0 0 0;
    transition: all 0.3s ease-in-out; }
    @media screen and (max-width: 850px) {
      nav .hamburger-menu {
        display: block;
        float: right; } }
    nav .hamburger-menu:hover {
      cursor: pointer; }
    nav .hamburger-menu .menu-item {
      background: #000;
      display: block;
      height: 2px;
      margin: 0 0 9px;
      transition: all 0.3s ease-in-out;
      width: 35px; }
    nav .hamburger-menu.open .menu-item {
      margin: 0 0 5px; }
      nav .hamburger-menu.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px; }
      nav .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0; }
      nav .hamburger-menu.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px; }
  nav ul {
    list-style-type: none; }
    nav ul.left, nav ul.right {
      float: left;
      padding: 0; }
    nav ul.left {
      width: 25%;
      text-align: left;
      font-size: 28px; }
      nav ul.left img {
        width: 100%; }
      nav ul.left li a {
        margin: 0;
        text-transform: uppercase;
        font-weight: 500; }
        nav ul.left li a span {
          display: block;
          font-size: 15.9px;
          color: #ffaf00;
          line-height: 13px;
          text-transform: none; }
    nav ul.right {
      /*width: 75%;*/
      text-align: right;
      font-size: 16px;
      font-weight: 300; }
      nav ul.right li a {
        margin: 0 20px; }
        @media screen and (max-width: 850px) {
          nav ul.right li a {
            margin: 0;
            padding: 0 20px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #333;
            border-right: 1px solid #111;
            border-left: 1px solid #161616;
            border-radius: 5px;
            margin: 7px 0;
            background: #252525; }
            nav ul.right li a:hover {
              color: #fff; }
            nav ul.right li a:active, nav ul.right li a:focus {
              outline: none;
              border: none; }
            nav ul.right li a:active {
              transition: none;
              border: none;
              background: #323638; } }
    nav ul li {
      display: inline-block; }
      nav ul li.left {
        text-align: left; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }

section.teaser {
  background: url("images/teaser2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  /*height: 630px;*/
  height: 500px;
  background-color: #323638;
  text-align: left;
  padding: 0 90px; }
  @media screen and (max-width: 850px) {
    section.teaser {
      padding: 20px 30px; } }
  @media screen and (max-width: 600px) {
    section.teaser {
      padding: 20px; } }
  section.teaser h1, section.teaser h2, section.teaser h3 {
    text-align: center;
    color: #fff; }
  section.teaser h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 180px 0 20px; }
  section.teaser h2 {
    font-weight: 300;
    font-size: 28px;
    /* text-transform: uppercase; */
    margin: 120px auto 60px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    width: 60%;
    line-height: 38px; }
  section.teaser h3 {
    font-weight: 200;
    font-size: 19px;
    margin: 24px auto 35px;
    width: 60%;
    margin: 20px auto 35px;
    line-height: 28px; }
    section.teaser h3 span {
      font-size: 80px;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      text-shadow: 2px 0px 0 #aaa; }
  section.teaser p {
    color: #fff;
    width: 75%;
    margin: 40px auto 0;
    line-height: 28px; }

section.about h2, section.skills h2 {
  font-size: 32px;
  margin: 0 0 25px;
  color: #323638; }
section.about h3, section.skills h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #ffaf00;
  margin: 0px 0 15px 0; }

section.about {
  max-width: 800px;
  margin: 80px auto 50px;
  text-align: center; }
  section.about .inner {
    /*width: 80%;*/ }
  section.about h2, section.about p {
    color: #323638; }
  section.about p {
    /* font-family: "source-sans-pro",sans-serif; */
    font-weight: 300;
    line-height: 27px;
    margin: 0 0 30px 0;
    font-family: "azo-sans-web",sans-serif;
    color: #888;
    font-size: 18px;
    /* font-style: italic; */
    font-family: "effra",sans-serif; }
  section.about a {
    text-decoration: none;
    color: #323638;
    margin: 0 45px 0 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px; }
    section.about a i.fa.fa-angle-right {
      margin-left: 7px;
      vertical-align: -1px;
      color: #ffaf00;
      font-size: 18px; }

section.skills {
  background: url("images/photoshop.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 49%;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 40px; }
  section.skills .inner {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; }
    section.skills .inner div.col-1, section.skills .inner div.col-2 {
      /*width: 33.333%;*/
      float: left;
      display: inline-block; }
    section.skills .inner .col-1, section.skills .inner .col-2 {
      padding: 0; }
      section.skills .inner .col-1 ul, section.skills .inner .col-2 ul {
        margin: 0; }
    section.skills .inner .col-1 {
      margin: 0 6% 0 0; }
    section.skills .inner .col-2 {
      margin: 0; }
    section.skills .inner h3 {
      text-align: left;
      margin-bottom: 20px; }
      section.skills .inner h3.programs {
        margin-top: 45px; }
    section.skills .inner h2 {
      color: #fff;
      margin-bottom: 50px; }
    section.skills .inner ul {
      margin: 12px 0 30px;
      padding: 0;
      color: #323638;
      list-style-type: none;
      text-align: left;
      font-size: 16px;
      font-family: "effra",sans-serif;
      font-weight: 300; }
      section.skills .inner ul li {
        margin: 15px 0 0; }
        section.skills .inner ul li i.fa.fa-check, section.skills .inner ul li i.fa.fa-circle-o, section.skills .inner ul li i.fa.fa-circle {
          margin-right: 12px;
          vertical-align: middle; }
    section.skills .inner .buttons {
      clear: both;
      text-align: left;
      padding: 50px 0 0;
      margin-left: -5px; }
      section.skills .inner .buttons a {
        text-decoration: none;
        color: #323638;
        margin: 0 20px 0 0;
        font-weight: 300;
        /*text-transform: uppercase;*/
        font-size: 14px;
        padding: 8px 13px;
        border-radius: 3px; }
        section.skills .inner .buttons a i.fa.fa-angle-right {
          margin-left: 7px;
          vertical-align: -1px;
          /*color: $yellow;*/
          font-size: 18px; }
        section.skills .inner .buttons a.blue {
          border: 1px solid #2A5A8A;
          color: #2A5A8A; }
          section.skills .inner .buttons a.blue:hover {
            color: #fff;
            background: #2A5A8A; }
        section.skills .inner .buttons a.green {
          border: 1px solid #1c9346;
          color: #1c9346; }
          section.skills .inner .buttons a.green:hover {
            color: #fff;
            background: #1c9346; }

section.work {
  background: #f3f3f3;
  max-width: 100%;
  margin: 70px auto 0;
  padding: 70px 0 60px;
  text-align: center;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 800px) {
    section.work {
      padding: 50px 0; } }
  section.work h2 {
    font-size: 32px;
    margin: 0 0 45px;
    color: #323638; }
  section.work .inner {
    width: 1000px;
    margin: 0 auto; }
    section.work .inner div.shot-border {
      height: auto;
      width: 33.3333%;
      float: left;
      display: inline-block;
      text-decoration: none;
      position: relative; }
      section.work .inner div.shot-border a.analytics4athletes .details h4 {
        color: #2f6da8; }
      section.work .inner div.shot-border a.spiritofwellness h4 {
        color: #1c9346; }
      section.work .inner div.shot-border a.lakeshoreforce h4 {
        color: #ffaf00; }
      section.work .inner div.shot-border a.globallgiving h4 {
        color: #7ED321; }
      section.work .inner div.shot-border a.zabelmonuments h4 {
        color: #ea464c; }
      section.work .inner div.shot-border a.newdirection h4 {
        color: #8d9b42; }
      section.work .inner div.shot-border .shot {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        margin: 15px;
        background: #000;
        display: inline-block;
        text-decoration: none;
        position: relative;
        cursor: pointer; }
        section.work .inner div.shot-border .shot:hover img {
          opacity: 0.2; }
          @media screen and (max-width: 700px) {
            section.work .inner div.shot-border .shot:hover img {
              opacity: 1.0; } }
        section.work .inner div.shot-border .shot:hover .details {
          position: absolute;
          display: block;
          top: 70px;
          left: 5%;
          bottom: 0;
          text-align: center;
          width: 90%; }
          @media screen and (max-width: 1000px) {
            section.work .inner div.shot-border .shot:hover .details {
              top: 0; } }
          @media screen and (max-width: 700px) {
            section.work .inner div.shot-border .shot:hover .details {
              display: none; } }
          section.work .inner div.shot-border .shot:hover .details h3, section.work .inner div.shot-border .shot:hover .details h4 {
            text-transform: uppercase;
            font-weight: 300;
            text-align: center; }
          section.work .inner div.shot-border .shot:hover .details h3 {
            margin: 5px 0 10px;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 1.2px;
            color: #fff;
            font-weight: 500;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
            @media screen and (max-width: 1110px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                font-size: 18px;
                margin: 0 0 10px; } }
            @media screen and (max-width: 1000px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 40px 0 10px; } }
            @media screen and (max-width: 850px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 30px 0 10px; } }
            @media screen and (max-width: 768px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 25px 0 10px; } }
          section.work .inner div.shot-border .shot:hover .details h4 {
            font-size: 11px;
            letter-spacing: 3px;
            line-height: 14px;
            text-shadow: 1px 1px 2px black;
            margin-bottom: 12px; }
          section.work .inner div.shot-border .shot:hover .details p {
            font-size: 15px;
            color: #fff;
            display: inline-block;
            position: relative;
            margin: 0; }
        section.work .inner div.shot-border .shot .featured-image img {
          width: 100%;
          display: block; }
        section.work .inner div.shot-border .shot .details {
          display: none; }

section.get-in-touch {
  background: #323638;
  padding: 50px 0;
  background: #323638;
  width: 100%;
  margin: 0 auto; }
  section.get-in-touch .inner {
    width: 70%;
    margin: 0 auto; }
  section.get-in-touch .left {
    width: 38%;
    float: left;
    text-align: right; }
    section.get-in-touch .left h2 {
      /*text-align: right; */
      float: left;
      display: inline-block;
      font-size: 36px;
      text-transform: uppercase;
      color: #fff;
      width: 85%;
      letter-spacing: 1px;
      /* padding: 0 70px 0 0; */
      /* margin: 30px 0; */ }
    section.get-in-touch .left i.fa.fa-circle {
      color: #ffaf00;
      border: 1px solid #ffaf00;
      border-radius: 100%;
      font-size: 13px;
      vertical-align: top;
      padding: 9px;
      float: right;
      /* margin-left: 45px; */
      margin-right: -34px;
      margin-top: 34px; }
  section.get-in-touch .right {
    width: 60%;
    float: right;
    text-align: left;
    display: inline-block;
    margin: 90px 0 20px;
    padding: 10px 0 25px;
    border-left: 1px solid #5c5d5f; }
    section.get-in-touch .right p {
      float: left;
      text-align: left;
      font-weight: 300;
      line-height: 26px;
      font-size: 17px;
      color: #bfbfbf;
      width: 73%;
      display: inline-block;
      margin: 0 0 30px 0;
      padding: 0 0 0 70px;
      /*font-family: "effra",sans-serif;*/ }
      section.get-in-touch .right p a {
        color: #ffaf00;
        text-decoration: none; }
        section.get-in-touch .right p a:hover {
          color: #ffaf00;
          text-decoration: underline; }
    section.get-in-touch .right .btn-3 {
      margin: 0 0 0 70px; }

footer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 56px;
  background: #323638; }
  footer .inner {
    padding: 0 100px; }
  footer p {
    text-align: left;
    color: #555;
    display: inline-block;
    /* float: left; */
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.3px; }
  footer div.social {
    display: inline-block;
    float: right;
    /*.email:hover {
    	background: #00a651;
    	border-color: #00a651;
    }
    .fb:hover {
    	background: #3b5998;
    	border-color: #3b5998;
    }
    .tw:hover {
    	background: #00aced;
    	border-color: #00aced;
    }
    .ln:hover {
    	background: #0077b5;
    	border-color: #0077b5;
    }
    .ig:hover {
    	background: #9b5d2f;
    	border-color: #9b5d2f;
    }
    .gh:hover {
    	background: #000;
    	border-color: #000;
    }*/
    /*i {
        color: #fff;
        margin: 0 7px;
        font-size: 24px;
    }*/ }
    footer div.social a {
      margin-right: 10px;
      border-radius: 100%;
      /* border: solid 2px #454647; */
      color: #787c7e;
      color: #666;
      width: 26px;
      height: 26px;
      display: inline-block;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
      transition: all 300ms ease-out;
      /* background: #454647; */ }
    footer div.social :hover {
      text-decoration: none;
      color: #fff; }
    footer div.social :focus, footer div.social:active {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
