body {
  font-family: "faricy-new-web",sans-serif; }

.row:after, .row:before {
  content: "";
  display: table; }
.row:after {
  clear: both; }

.btn-1, .btn-2, .btn-3 {
  border-radius: 5px;
  margin: 0 5px 120px;
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  letter-spacing: 0.5px; }

.btn-1 {
  background: #2A5A8A;
  border: 2px solid #2A5A8A; }
  .btn-1:hover {
    background: #254f7a;
    border-color: #254f7a; }

.btn-2 {
  background: #1c9346;
  border: 2px solid #1c9346; }
  .btn-2:hover {
    background: #19853f;
    border-color: #19853f; }

.btn-3 {
  background: #ffaf00;
  border: 2px solid #ffaf00; }
  .btn-3:hover {
    background: #e9a103;
    border-color: #e9a103; }

.text-center {
  text-align: center;
  margin: 0 auto; }

nav {
  width: 100%;
  position: relative; }
  nav * {
    box-sizing: border-box; }
  @media (min-width: 800px) {
    nav .mobile-nav-wrap {
      display: inline-block; } }
  nav .mobile-header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 98px;
    width: 75%; }
    @media screen and (max-width: 800px) {
      nav .mobile-header-nav {
        /*background-color: #222222;*/
        display: none;
        display: absolute;
        top: 0px;
        width: 100%;
        line-height: 60px;
        border-radius: 5px; } }
    @media screen and (max-width: 800px) {
      nav .mobile-header-nav li {
        display: block; } }
    nav .mobile-header-nav li a {
      color: white;
      display: block;
      text-align: right;
      text-decoration: none;
      transition: all 0.3s ease-in-out; }
      @media screen and (max-width: 800px) {
        nav .mobile-header-nav li a {
          text-align: center; } }
      nav .mobile-header-nav li a:hover {
        color: #72AA2D;
        color: #e40303;
        color: #999;
        color: #ffaf00; }
  nav .hamburger-menu {
    display: none;
    height: 75px;
    padding: 35px 25px;
    margin: 15px 0 0 0;
    transition: all 0.3s ease-in-out; }
    @media screen and (max-width: 800px) {
      nav .hamburger-menu {
        display: block;
        float: right;
        margin: 0;
        padding: 12px 25px 0 0; } }
    @media screen and (max-width: 370px) {
      nav .hamburger-menu {
        padding: 10px 25px 0 0; } }
    nav .hamburger-menu:hover {
      cursor: pointer; }
    nav .hamburger-menu .menu-item {
      background: #fff;
      display: block;
      height: 2px;
      margin: 0 0 9px;
      transition: all 0.3s ease-in-out;
      width: 37px; }
      @media screen and (max-width: 370px) {
        nav .hamburger-menu .menu-item {
          margin: 0 0 7px; } }
    nav .hamburger-menu.open .menu-item {
      margin: 0 0 5px; }
      nav .hamburger-menu.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px; }
      nav .hamburger-menu.open .menu-item:nth-child(2) {
        opacity: 0; }
      nav .hamburger-menu.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px; }
  nav ul {
    list-style-type: none; }
    nav ul.left, nav ul.right {
      padding: 0; }
    nav ul.left {
      float: left;
      width: 230px;
      text-align: left;
      font-size: 28px; }
      @media screen and (max-width: 800px) {
        nav ul.left {
          margin: 0; } }
      @media screen and (max-width: 370px) {
        nav ul.left {
          width: 218px;
          font-size: 22px; } }
      nav ul.left img {
        width: 100%; }
      nav ul.left li a {
        margin: 0;
        text-transform: uppercase;
        font-weight: 500; }
        nav ul.left li a span {
          display: block;
          font-size: 15.9px;
          color: #ffaf00;
          line-height: 13px;
          text-transform: none; }
          @media screen and (max-width: 370px) {
            nav ul.left li a span {
              font-size: 12.4px; } }
    nav ul.right {
      float: right;
      text-align: right;
      font-size: 16px;
      font-weight: 300;
      width: 442px; }
      @media screen and (max-width: 800px) {
        nav ul.right {
          clear: both;
          width: 100%; } }
      nav ul.right li a {
        margin: 5px 20px 0; }
        @media screen and (max-width: 800px) {
          nav ul.right li a {
            margin: 0;
            padding: 0 20px;
            border-bottom: 1px solid #000;
            border-top: 1px solid #333;
            border-right: 1px solid #111;
            border-left: 1px solid #161616;
            border-radius: 5px;
            margin: 7px 0;
            background: #252525; }
            nav ul.right li a:hover {
              color: #fff; }
            nav ul.right li a:active, nav ul.right li a:focus {
              outline: none;
              border: none; }
            nav ul.right li a:active {
              transition: none;
              border: none;
              background: #323638; } }
    nav ul li {
      display: inline-block; }
      nav ul li.left {
        text-align: left; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }

section.teaser {
  background: url("images/teaser2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: #323638;
  text-align: left;
  padding: 0 90px 100px;
  max-width: 100%; }
  @media screen and (max-width: 1000px) {
    section.teaser {
      padding: 0 10px 100px 30px; } }
  @media screen and (max-width: 850px) {
    section.teaser {
      padding: 20px 30px; } }
  @media screen and (max-width: 600px) {
    section.teaser {
      padding: 20px; } }
  @media screen and (max-width: 480px) {
    section.teaser {
      padding: 20px 20px 60px 20px; } }
  section.teaser h1, section.teaser h2, section.teaser h3 {
    text-align: center;
    color: #fff; }
  section.teaser h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 180px 0 20px; }
  section.teaser h2 {
    font-weight: 300;
    font-size: 28px;
    margin: 150px auto 60px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 735px;
    line-height: 38px; }
    @media screen and (max-width: 800px) {
      section.teaser h2 {
        margin: 100px auto 60px;
        width: 80%; } }
    @media screen and (max-width: 600px) {
      section.teaser h2 {
        width: 95%; } }
    @media screen and (max-width: 400px) {
      section.teaser h2 {
        margin: 20px auto 50px; } }
  section.teaser h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #ffaf00;
    margin: 0px 0 15px 0; }
    section.teaser h3 span {
      font-size: 80px;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      text-shadow: 2px 0px 0 #aaa; }
  @media screen and (max-width: 450px) {
    section.teaser a.btn-1, section.teaser a.btn-2 {
      display: block;
      max-width: 100%;
      margin: 10px 0; } }
  section.teaser .elipsis {
    text-align: center;
    width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      section.teaser .elipsis {
        margin: 50px 0 0; } }
    section.teaser .elipsis i.fa.fa-circle, section.teaser .elipsis i.fa.fa-circle-o {
      font-size: 8px;
      color: #5c5d5f;
      margin: 3px;
      text-align: center; }
      section.teaser .elipsis i.fa.fa-circle:hover, section.teaser .elipsis i.fa.fa-circle-o:hover {
        color: #ffaf00; }

section.about h2, section.skills h2 {
  font-size: 32px;
  margin: 0 0 25px;
  color: #323638; }
section.about h3, section.skills h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #ffaf00;
  margin: 0px 0 15px 0; }

section.about {
  width: 100%;
  margin: 80px 0 40px; }
  @media screen and (max-width: 850px) {
    section.about {
      max-width: 90%; } }
  @media screen and (max-width: 800px) {
    section.about {
      margin: 70px 0 20px; } }
  section.about .inner {
    max-width: 1000px;
    margin: 0 auto; }
    @media screen and (max-width: 1075px) {
      section.about .inner {
        max-width: 900px; } }
    @media screen and (max-width: 950px) {
      section.about .inner {
        max-width: 800px; } }
    @media screen and (max-width: 850px) {
      section.about .inner {
        max-width: 90%; } }
  section.about h2, section.about p {
    color: #323638; }
  section.about p {
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 30px 0;
    color: #323638;
    font-size: 18px;
    font-family: "effra",sans-serif; }
    section.about p a {
      text-decoration: none;
      color: #323638; }
      section.about p a:hover {
        text-decoration: underline; }
  section.about a.button {
    text-decoration: none;
    color: #323638;
    margin: 0 45px 0 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px; }
    section.about a.button i.fa.fa-angle-right {
      margin-left: 7px;
      vertical-align: -1px;
      color: #ffaf00;
      font-size: 18px; }

section.skills {
  background: url("images/photoshop.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-size: 700px 500px; }
  @media screen and (max-width: 1300px) {
    section.skills {
      background-position: 580px center; } }
  @media screen and (max-width: 600px) {
    section.skills {
      background: #fff; } }
  section.skills .inner {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 1075px) {
      section.skills .inner {
        max-width: 900px; } }
    @media screen and (max-width: 950px) {
      section.skills .inner {
        max-width: 800px; } }
    @media screen and (max-width: 850px) {
      section.skills .inner {
        max-width: 90%; } }
    @media screen and (max-width: 600px) {
      section.skills .inner .left {
        margin: 0 auto; } }
    @media screen and (max-width: 480px) {
      section.skills .inner .left {
        width: 100%; } }
    section.skills .inner div.col-1, section.skills .inner div.col-2 {
      float: left;
      display: inline-block; }
      @media screen and (max-width: 850px) {
        section.skills .inner div.col-1, section.skills .inner div.col-2 {
          display: block; } }
    section.skills .inner .col-1, section.skills .inner .col-2 {
      padding: 0; }
      section.skills .inner .col-1 ul, section.skills .inner .col-2 ul {
        margin: 0; }
    section.skills .inner .col-1 {
      margin: 0 6% 0 0; }
      @media screen and (max-width: 600px) {
        section.skills .inner .col-1 {
          margin: 0 60px 0 0; } }
      @media screen and (max-width: 480px) {
        section.skills .inner .col-1 {
          width: 100%;
          margin: 0; } }
    section.skills .inner .col-2 {
      margin: 0; }
      @media screen and (max-width: 480px) {
        section.skills .inner .col-2 {
          width: 100%;
          margin: 45px 0 0 0; } }
    section.skills .inner h3 {
      text-align: left;
      margin-bottom: 20px;
      color: #323638;
      font-weight: 600; }
      section.skills .inner h3.level-2 {
        margin-top: 65px; }
    section.skills .inner h2 {
      color: #fff;
      margin-bottom: 50px; }
    section.skills .inner ul {
      margin: 12px 0 30px;
      padding: 0;
      color: #323638;
      list-style-type: none;
      text-align: left;
      font-size: 17px;
      font-family: "effra",sans-serif;
      font-weight: 300; }
      section.skills .inner ul li {
        margin: 15px 0 0; }
        section.skills .inner ul li i.fa.fa-check, section.skills .inner ul li i.fa.fa-circle-o, section.skills .inner ul li i.fa.fa-circle, section.skills .inner ul li i.fa.fa-dot-circle-o {
          margin-right: 12px;
          vertical-align: -1px;
          color: #e9a103; }
    section.skills .inner .buttons {
      clear: both;
      text-align: left;
      padding: 50px 0 0;
      margin-left: -5px; }
      section.skills .inner .buttons a {
        text-decoration: none;
        color: #323638;
        margin: 0 20px 0 0;
        font-weight: 300;
        font-size: 14px;
        padding: 8px 13px;
        border-radius: 3px; }
        section.skills .inner .buttons a i.fa.fa-angle-right {
          margin-left: 7px;
          vertical-align: -1px;
          font-size: 18px; }
        section.skills .inner .buttons a.blue {
          border: 1px solid #2A5A8A;
          color: #2A5A8A; }
          section.skills .inner .buttons a.blue:hover {
            color: #fff;
            background: #2A5A8A; }
        section.skills .inner .buttons a.green {
          border: 1px solid #1c9346;
          color: #1c9346; }
          section.skills .inner .buttons a.green:hover {
            color: #fff;
            background: #1c9346; }

section.work {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0 60px;
  text-align: center; }
  @media screen and (max-width: 800px) {
    section.work {
      padding: 40px 0 50px; } }
  section.work h3 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #ffaf00;
    margin: 0px 0 15px 15px; }
  section.work h2 {
    text-align: left;
    font-size: 32px;
    margin: 0 0 30px 15px;
    color: #323638; }
  @media screen and (max-width: 900px) {
    section.work h2, section.work h3 {
      margin-left: 10px; } }
  @media screen and (max-width: 650px) {
    section.work h2, section.work h3 {
      margin-left: 5px; } }
  section.work .inner {
    width: 1030px;
    margin: 0 auto; }
    @media screen and (max-width: 1075px) {
      section.work .inner {
        max-width: 930px; } }
    @media screen and (max-width: 950px) {
      section.work .inner {
        max-width: 830px; } }
    @media screen and (max-width: 900px) {
      section.work .inner {
        max-width: 820px; } }
    @media screen and (max-width: 850px) {
      section.work .inner {
        max-width: 90%; } }
    section.work .inner div.shot-border {
      height: auto;
      width: 33.3333%;
      float: left;
      display: inline-block;
      text-decoration: none;
      position: relative; }
      @media screen and (max-width: 650px) {
        section.work .inner div.shot-border {
          width: 50%; } }
      section.work .inner div.shot-border a.analytics4athletes .details h4 {
        color: #2f6da8; }
      section.work .inner div.shot-border a.spiritofwellness h4 {
        color: #1c9346; }
      section.work .inner div.shot-border a.lakeshoreforce h4 {
        color: #ffaf00; }
      section.work .inner div.shot-border a.globallgiving h4 {
        color: #7ED321; }
      section.work .inner div.shot-border a.zabelmonuments h4 {
        color: #ea464c; }
      section.work .inner div.shot-border a.newdirection h4 {
        color: #8d9b42; }
      section.work .inner div.shot-border .shot {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        margin: 15px;
        background: #333;
        display: inline-block;
        text-decoration: none;
        position: relative;
        cursor: pointer; }
        @media screen and (max-width: 900px) {
          section.work .inner div.shot-border .shot {
            margin: 10px; } }
        @media screen and (max-width: 650px) {
          section.work .inner div.shot-border .shot {
            margin: 5px; } }
        section.work .inner div.shot-border .shot:hover img {
          opacity: 0.05; }
          @media screen and (max-width: 750px) {
            section.work .inner div.shot-border .shot:hover img {
              opacity: 0.9; } }
          @media screen and (max-width: 700px) {
            section.work .inner div.shot-border .shot:hover img {
              opacity: 1.0; } }
        section.work .inner div.shot-border .shot:hover .details {
          position: absolute;
          display: block;
          top: 65px;
          left: 5%;
          bottom: 0;
          text-align: center;
          width: 90%; }
          @media screen and (max-width: 1000px) {
            section.work .inner div.shot-border .shot:hover .details {
              top: 0; } }
          @media screen and (max-width: 750px) {
            section.work .inner div.shot-border .shot:hover .details {
              display: none; } }
          section.work .inner div.shot-border .shot:hover .details h3, section.work .inner div.shot-border .shot:hover .details h4 {
            text-transform: uppercase;
            font-weight: 300;
            text-align: center; }
          section.work .inner div.shot-border .shot:hover .details h3 {
            margin: 5px 0 10px;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 1.2px;
            color: #fff;
            font-weight: 500;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
            @media screen and (max-width: 1110px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                font-size: 18px;
                margin: 0 0 10px; } }
            @media screen and (max-width: 1000px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 40px 0 10px; } }
            @media screen and (max-width: 850px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 30px 0 10px; } }
            @media screen and (max-width: 768px) {
              section.work .inner div.shot-border .shot:hover .details h3 {
                margin: 25px 0 10px; } }
          section.work .inner div.shot-border .shot:hover .details h4 {
            font-size: 11px;
            letter-spacing: 3px;
            line-height: 14px;
            text-shadow: 1px 1px 2px black;
            margin-bottom: 10px; }
          section.work .inner div.shot-border .shot:hover .details p {
            font-size: 9px;
            color: #9a9a9a;
            display: inline-block;
            position: relative;
            margin: 0;
            text-transform: uppercase;
            font-weight: 100;
            font-family: "effra",sans-serif;
            line-height: 15px;
            letter-spacing: 1px; }
            section.work .inner div.shot-border .shot:hover .details p i.fa.fa-angle-right {
              margin-left: 5px;
              font-size: 10px;
              vertical-align: 0px; }
        section.work .inner div.shot-border .shot .featured-image img {
          width: 100%;
          display: block; }
        section.work .inner div.shot-border .shot .details {
          display: none; }

section.get-in-touch {
  width: 100%;
  margin: 0 auto;
  padding: 90px 0 70px;
  background: #323638;
  text-align: center; }
  section.get-in-touch h2 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0; }
    @media screen and (max-width: 500px) {
      section.get-in-touch h2 {
        font-size: 28px; } }
    @media screen and (max-width: 400px) {
      section.get-in-touch h2 {
        font-size: 24px; } }
  section.get-in-touch p {
    width: 550px;
    margin: 35px auto 41px;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #aaa; }
    @media screen and (max-width: 650px) {
      section.get-in-touch p {
        width: 95%; } }
    @media screen and (max-width: 400px) {
      section.get-in-touch p {
        font-size: 16px;
        line-height: 26px;
        width: 90%; } }
    section.get-in-touch p a {
      color: #ffaf00;
      text-decoration: none; }
      section.get-in-touch p a:hover {
        color: #ffaf00;
        text-decoration: underline; }
  section.get-in-touch .btn-3 {
    margin: 0 auto;
    display: inline-block; }

footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px;
  background: #323638;
  text-align: center; }
  footer div.social {
    display: inline-block; }
    footer div.social a {
      border-radius: 100%;
      color: #727B7F;
      width: 28px;
      height: 28px;
      display: inline-block;
      text-align: center;
      font-size: 24px;
      line-height: 26px;
      transition: all 300ms ease-out;
      margin: 0 8px; }
    footer div.social :hover {
      text-decoration: none;
      color: #fff; }
    footer div.social :focus, footer div.social:active {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
